:root {
    --selected-nav-item: rgb(255, 255, 255, .09)
}

body {
    padding-top: 160px;
}
mark {
    padding: 0 2ch 0 2ch;
}

/* remove detail's widget */
details summary::after {
    display: none;
}
.docpage ul details, .docpage aside nav {
    border-bottom: 0;
}
.docpage summary {
    text-transform: uppercase;
}
.docpage details ul {
    margin: 0px;
}
.docpage details li {
    margin-left: 0;
}
@media (min-width: 992px) {
    .docpage aside {
        min-width: 0;
    }
    .docpage aside nav {
        position: fixed;
        width: 200px;
        max-height: calc(100vh - 240px);
        overflow-x: hidden;
        overflow-y: auto;
        padding-bottom: var(--block-spacing-vertical);
    }
    .docpage aside ul {
        margin-left: 0;
    }
    .docpage details, .docpage summary {
        font-size: calc(1rem - 4px);
        margin-bottom: 0px;
    }
    .docpage ul details,  {
        font-size: calc(1rem - 6px);
    }
    .docpage ul, .docpage details li {
        padding-bottom: 0px;
    }
    .docpage details[open] summary {
        margin-bottom: 0;
    }
    .docpage details li a {
        font-size: 1rem;
    }
    .docpage main {
        display: grid;
        grid-column-gap: calc(var(--block-spacing-horizontal) * 5);
        grid-template-columns: 200px auto;
    }
    .docpage .selected-nav-item {
        background-color: var(--selected-nav-item);
    }
}

/* top navbar */
nav {
    border-bottom: 1px solid rgba(187,198,206, 0.2);
}
nav img {
    width: 20px;
    height: 20px;
}
@media (min-width: 576px) {
    nav a {
        font-size: 20px;
    }
    nav img {
        width: 20px;
        height: 20px;
    }
}
@media (min-width: 768px) {
    nav a {
        font-size: 28px;
    }
    nav img {
        width: 28px;
        height: 28px;
    }
}
@media (min-width: 992px) {
    nav a {
        font-size: 29px;
    }
    nav img {
        width: 29px;
        height: 29px;
    }
}
@media (min-width: 1200px) {
    nav a {
        font-size: 30px;
    }
    nav img {
        width: 30px;
        height: 30px;
    }
}

/* hero home page header */
.hero h1 {
    max-width: 21ch;
}
@media (min-width: 576px) {
    .hero h1 {
        --font-size: 2rem;
    }
}
@media (min-width: 768px) {
    .hero h1 {
        --font-size: 200%;
    }
}
@media (min-width: 992px) {
    .hero h1 {
        --font-size: 300%;
    }
}
@media (min-width: 1200px) {
    .hero h1 {
        --font-size: 400%;
    }
}
